.primary-color {
    -fx-background-color: #13123A;
}

.secondary-color {
    -fx-background-color: #00002c;
}

.button {
    -fx-background-color: #242551;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-transition: background-color 0.3s ease, color 0.3s ease;
    -fx-cursor: hand;
    -fx-font-size: 17px;
}

.button:hover {
    -fx-background-color: #1d1f4a;
    -fx-text-fill: white;
    -fx-font-size: 17px;
}

.button2 {
    -fx-background-color: #076e6e;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-transition: background-color 0.3s ease, color 0.3s ease;
    -fx-cursor: hand;
}

.button2:hover {
    -fx-background-color: #0c7da5;
    -fx-text-fill: white;
}

.text-input {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #242551;
    -fx-text-inner-color: #ffffff;
}

.white {
    -fx-background-color: #ffffff;
}

.text-input2 {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff;
    -fx-text-inner-color: #000000;
    -fx-font-weight: bold;
}

.list-view {
    -fx-background-color: #ffffff;
}

.text-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
